.checkout {
    display: flex;
    padding: 20px; 
    height: max-content; 
}

.checkout_ad {
    width: 100%; 
    margin-bottom: 10px;
}

.checkout_container {
    background-color: white;
}

.checkout_title {
    padding: 10px; 
    border-bottom: 5px solid #EBEDED;
    background-color: white;
}

.checkout_right {
    width: 100%;
}