.login {
    background-color: white;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_logo {
    margin-top: 5px; 
    margin-bottom: 20px; 
    margin-right: auto; 
    margin-left: auto; 
    object-fit: contain;
    width: 160px; 
}

.logo_line {
    margin-top: 10px;
    background-color: transparent;
    display: block;
    height: 1px;
    border-width: 0;
    border-top: 1px solid #e7e7e7;
    line-height: 19px;
    margin-bottom: 14px;
}

.login_container {
    width: 300px; 
    height: fit-content; 
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray; 
    padding: 20px; 
}

.login_container > h1 {
    font-weight: 500;
    margin-bottom: 5px;
}

.login_container > form > h5 {
    margin-bottom: 5px;
}

.login_container > form > input {
    height: 25px; 
    margin-bottom: 20px;
    background-color: white;
    width: 98%;
    border: 1.5px solid darkgray; 
    border-radius: 5px;
}

.login_container > p {
    margin-top: 15px; 
    font-size: 12px; 
}

.signIn_button {
    background-color: #F5D68D;
    border-radius: 5px;
    width: 100%; 
    height: 30px;
    border: 1px solid; 
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: #A98735 #9C7E31 #856A29;
    color: #121212;
    padding: 5px;
}


.register_button {
    border-radius: 5px;
    width: 100%; 
    height: 30px; 
    border: 1px solid; 
    margin-top: 10px; 
    border-color: rgb(92, 50, 50);
}


.grey_bottom {
    margin-top: 50px;
    width: 100%;
    height: 60px;
    /* background: linear-gradient(to top, #ffffff 0%, #f0f0f0 100%);  */
    background: linear-gradient(to top, #ffffff 0%, #f7f7f7 100%);
}

.footer_top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    /* margin-bottom: 10px; */
}

.footer_top > p {
    color: #0066c0;
    font-size: 11px;
    margin: 14px;
    padding: 2px;
}

.footer_bottom {
    display: flex;
    justify-content: center;
}

.footer_bottom {
    font-size: 11px;
}